# Projet Speed Dating

##### Les données ont été recueillies auprès des participants à des événements expérimentaux de speed dating de 2002 à 2004. Au cours des événements, les participants auraient un « premier rendez-vous » de quatre minutes avec tous les autres participants du sexe opposé. À la fin de leurs quatre minutes, on a demandé aux participants s’ils aimeraient revoir leur date. On leur a également demandé d’évaluer leur date sur six attributs : attractivité, sincérité, intelligence, plaisir, ambition et intérêts partagés. ‎

###### iid : numéros unique d'un participant
###### id : numéros du participant lors du speed dating
###### colums gender : Femme = 0 ; Homme = 1
###### condtn : 1 = choix limités ; 2 = vaste choix
###### round : nombre de personnes rencontrées dans la soirée
###### position : 
###### position1:
###### order : le nombre de date avant de rencontrer le partenaire
###### partner : id du partenaire le soir de l'évenement
###### pid : iid du partenaire
###### match : 1 = oui ; 0 = non
###### int_corr :
###### samerace : le partenaire et le participant sont de même origines 1 = oui ; 2 = non
###### age_o : l'age du partenaire
###### race_o: l'origine du partenaire
###### age : âge
###### field : domaine d'études
###### undergra : écoles fréquentées
###### race : Black/African American=1 ; European/Caucasian-American=2 ; Latino/Hispanic American=3 ; Asian/Pacific Islander/Asian-American=4 ;Native American=5 ; Other=6
###### imprace : note de 1 à 10 sur l'importance des  l'origine
###### imprelig : note de 1 à 10 sur l'importance de la religion
###### goal : L'objectif du speed dating : Semblait une soirée amusante = 1 ; Pour rencontrer de nouvelles personnes = 2 ; Pour obtenir une date = 3 ; A la recherche d'une relation sérieuse=4 ; Dire que je l'ai fait=5 ; Autre = 6
###### date : fréquance des rendez-vous : plusieurs fois par semaine = 1 ; 2 fois par semaine = 2 ; 1 fois par semaine = 3 ; 2 fois par mois = 4 ; 1 fois par mois = 5 ; quelques fois par an = 6 ; jamais = 7
###### go_out : la fréquence des sorties : plusieurs fois par semaine = 1 ; 2 fois par semaine = 2 ; 1 fois par semaine = 3 ; 2 fois par mois = 4 ; 1 fois par mois = 5 ; quelques fois par an = 6 ; jamais = 7
###### career : métier envisagé
###### note de 1 à 10 sur les activités (plusieurs colonnes (exemple : sport, musée, tv, music....)
###### exphappy : note de 1 à 10 sur le sentiment d'être heureux à ce spedd dating
###### expnum : sur les 20 personnes que le participant  va rencontrer, combien pense t il, seront intéressé de sortir avec lui/elle

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Speed_Dating_Data.csv", encoding= 'unicode_escape')

In [3]:
data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(8378, 195)

In [8]:
data.isnull().any()

iid         False
id           True
gender      False
idg         False
condtn      False
            ...
attr5_3      True
sinc5_3      True
intel5_3     True
fun5_3       True
amb5_3       True
Length: 195, dtype: bool

In [14]:
column_with_nan = data.columns[data.isnull().any()]
for column in column_with_nan:
    print(column, data[column].isnull().sum())

id 1
positin1 1846
pid 10
int_corr 158
age_o 104
race_o 73
pf_o_att 89
pf_o_sin 89
pf_o_int 89
pf_o_fun 98
pf_o_amb 107
pf_o_sha 129
attr_o 212
sinc_o 287
intel_o 306
fun_o 360
amb_o 722
shar_o 1076
like_o 250
prob_o 318
met_o 385
age 95
field 63
field_cd 82
undergra 3464
mn_sat 5245
tuition 4795
race 63
imprace 79
imprelig 79
from 79
zipcode 1064
income 4099
goal 79
date 97
go_out 79
career 89
career_c 138
sports 79
tvsports 79
exercise 79
dining 79
museums 79
art 79
hiking 79
gaming 79
clubbing 79
reading 79
tv 79
theater 79
movies 79
concerts 79
music 79
shopping 79
yoga 79
exphappy 101
expnum 6578
attr1_1 79
sinc1_1 79
intel1_1 79
fun1_1 89
amb1_1 99
shar1_1 121
attr4_1 1889
sinc4_1 1889
intel4_1 1889
fun4_1 1889
amb4_1 1889
shar4_1 1911
attr2_1 79
sinc2_1 79
intel2_1 79
fun2_1 79
amb2_1 89
shar2_1 89
attr3_1 105
sinc3_1 105
fun3_1 105
intel3_1 105
amb3_1 105
attr5_1 3472
sinc5_1 3472
intel5_1 3472
fun5_1 3472
amb5_1 3472
attr 202
sinc 277
intel 296
fun 350
amb 712
shar 1067
like 240
prob 309
met 375
match_es 1173
attr1_s 4282
sinc1_s 4282
intel1_s 4282
fun1_s 4282
amb1_s 4282
shar1_s 4282
attr3_s 4378
sinc3_s 4378
intel3_s 4378
fun3_s 4378
amb3_s 4378
satis_2 915
length 915
numdat_2 945
attr7_2 6394
sinc7_2 6423
intel7_2 6394
fun7_2 6394
amb7_2 6423
shar7_2 6404
attr1_2 933
sinc1_2 915
intel1_2 915
fun1_2 915
amb1_2 915
shar1_2 915
attr4_2 2603
sinc4_2 2603
intel4_2 2603
fun4_2 2603
amb4_2 2603
shar4_2 2603
attr2_2 2603
sinc2_2 2603
intel2_2 2603
fun2_2 2603
amb2_2 2603
shar2_2 2603
attr3_2 915
sinc3_2 915
intel3_2 915
fun3_2 915
amb3_2 915
attr5_2 4001
sinc5_2 4001
intel5_2 4001
fun5_2 4001
amb5_2 4001
you_call 4404
them_cal 4404
date_3 4404
numdat_3 6882
num_in_3 7710
attr1_3 4404
sinc1_3 4404
intel1_3 4404
fun1_3 4404
amb1_3 4404
shar1_3 4404
attr7_3 6362
sinc7_3 6362
intel7_3 6362
fun7_3 6362
amb7_3 6362
shar7_3 6362
attr4_3 5419
sinc4_3 5419
intel4_3 5419
fun4_3 5419
amb4_3 5419
shar4_3 5419
attr2_3 5419
sinc2_3 5419
intel2_3 5419
fun2_3 5419
amb2_3 5419
shar2_3 6362
attr3_3 4404
sinc3_3 4404
intel3_3 4404
fun3_3 4404
amb3_3 4404
attr5_3 6362
sinc5_3 6362
intel5_3 6362
fun5_3 6362
amb5_3 6362

In [ ]:
for i in data.columns:
    for row in